body{
    margin: 5px;
    padding: 5px;
}


.wrapper{
    border: 2px solid yellowgreen;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 10px;
    margin: 5px;
    padding: 5px;
}

.post{
    margin: 5px;
    padding: 10px;
    width: 17%;
    /*border: 2px solid forestgreen;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: -7px -2px 15px -2px rgba(148, 219, 88, 0.6) inset;
}
.post:hover {
    transition: 2s;
    background-color: darkseagreen;
}

.commentButton{
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 5px;
    background-color: rgba(73, 225, 54, 0.22);
    color: grey;
    font-weight: normal;
}
.commentButton:hover{
    border: 1px solid chartreuse;
    font-weight: bold;
}

.postComments{
    margin: 5px;
    padding: 10px;
    width: 80%;
    box-shadow: -7px -2px 15px -2px rgba(148, 219, 88, 0.6) inset;
}